<form class="my-4 flex flex-column gap-3" [formGroup]="form">
    <p-floatlabel variant="on">
        <input inputId="nome" pInputText fluid formControlName="name">
        <label for="nome">Nome</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
        <input inputId="email" pInputText fluid formControlName="email">
        <label for="email">E-mail</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
        <p-password id="senha_input" [toggleMask]="true" fluid formControlName="password" autocomplete="off" />
        <label for="senha_input">Senha</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
        <p-password id="confirm_senha_input" [toggleMask]="true" fluid formControlName="confirm"
            autocomplete="off" />
        <label for="confirm_senha_input">Confirmar Senha</label>
    </p-floatlabel>
</form>