<section>
    <form class="container" [formGroup]="form" (submit)="onSubmit()">
        <div class="customBox">
            <span class="text-gray-700">Título</span>
            <input 
            class="custom-input" 
            placeholder="Digite aqui..."
            formControlName="title"
            >
        </div>

        <div class="customBox">
            <span class="text-gray-700">E-mail do destinatário</span>
            <input 
            type="email" 
            class="custom-input" 
            placeholder="Digite aqui..."
            formControlName="email"
            >
        </div>

        <div class="customBox flex flex-column">
            <span class="text-gray-700">Mensagem</span>
            <textarea 
            class="custom-textarea" 
            placeholder="Digite aqui..."
            [rows]="6"
            formControlName="mensagem"
            ></textarea>
        </div>

        <div class="customBox input-image flex flex-column" style="height: 15rem;">
            <span>Adicionar Imagem</span>

            @if(imgPreview()) {
                <div class="img-preview">
                    <img [src]="imgPreview()">

                    <p-button 
                    class="btn-cancel" 
                    icon="pi pi-times" 
                    rounded
                    severity="danger"
                    size="small"
                    (click)="removeImg()"
                    />
                </div>
            } @else {
                <div class="flex justify-content-center align-items-center h-full">
                    <label 
                    class="pi pi-plus icon cursor-pointer" 
                    for="add-image"
                    >
                    </label>
        
                    <input 
                    id="add-image" 
                    type="file" 
                    accept="image/png, image/jpeg, image/jpg, image/gif" 
                    value=""
                    (change)="onUpload($event)" />
                </div>
            }

        </div>

        <div class="customBox">
            <span>Receber em</span>
            <div class="flex gap-2">

                <p-datepicker
                class="w-6"
                fluid
                format="dd/mm/yy"
                formControlName="date"
                showIcon="true"
                iconDisplay="input"
                appendTo="body"
                />

                <p-datepicker 
                fluid
                class="w-6"
                formControlName="hour"
                [iconDisplay]="'input'" 
                [showIcon]="true" 
                [timeOnly]="true" 
                appendTo="body"
                inputId="templatedisplay">
                    <ng-template 
                    #inputicon 
                    let-clickCallBack="clickCallBack">
                        <i class="pi pi-clock" 
                        (click)="clickCallBack($event)">
                        </i>
                    </ng-template>
                </p-datepicker>
            </div>
        </div>

        <div class="customButton">
            <p-button
            label="Enviar"
            icon="pi pi-send"
            iconPos="right"
            fluid
            type="submit"
            />
        </div>
    </form>

</section>