.custom-input {
    width: 100%;
    border-radius: 8px;
    padding: 4px;
    border: none;
    font-family: 'Lexend Deca';
}

:host input:focus {
    outline: none;
    box-shadow: none;
}

.custom-textarea {
    border-radius: 8px;
    padding: 4px;
    resize: none;
    border: none;
    font-family: 'Lexend Deca';
}

:host textarea {
    outline: none;
    box-shadow: none;
}

:host .input-image input[type="file"] {
    display: none;
}

.icon {
    font-size: 50px;

    &:hover {
        transform: scale(0.90);
        transition: transform 0.3s ease-in;
    }
}

:host .customButton {
    margin: 16px 24px 30px 24px;
}

.img-preview {
    position: relative;
    height: 195px;
    width: 100%;
}

.img-preview img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.btn-cancel {
    position: absolute;
    top: -7%;
    right: 0;
    z-index: 2;
}
