<div class="container">

    <section class="content-two">
        <div class="icon-glass">
            <span class="material-symbols-outlined">
                hourglass
            </span>
        </div>

        <div>
            <h2>CHRONOBOX</h2>

            <p>
                This productive tool is designed to help
                you better manage your task
                project-wise conveniently!
            </p>

            <p-button 
            fluid 
            label="Vamos Começar" 
            icon="pi pi-arrow-right" 
            iconPos="right" 
            (click)="goToPage()"
            />

        </div>
    </section>

</div>