<div class="container-main">
    <section class="content-main">
        <div class="container">
            @if(select.value === 'login') {
            <h1>Login</h1>
            <span>Entre com sua conta para continuar!</span>
            } @else {
            <h1>Register</h1>
            <span>Cadastre uma conta para continuar!</span>
            }
            
            <p-selectbutton 
            class="mt-2"
            [options]="stateOptions" 
            [(ngModel)]="value" 
            optionLabel="label" 
            optionValue="value" 
            aria-labelledby="basic" 
            #select
            />
    
            @if(select.value === 'login') {
                <app-login class="w-full" [(isSave)]="isSave"/>
            } @else if (select.value === 'register') {
                <app-register class="w-full" [(isSave)]="isSave" [(isRegister)]="isRegister"/>
            }
        </div>
    
        <div class="customButton">
            <p-button
            label="Salvar"
            icon="pi pi-arrow-right"
            iconPos="right"
            fluid
            (click)="save()"
            />
        </div>
    </section>
</div>