.container {
    background: var(--bg-color-light);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100dvh;
}

.customButton {
    margin: 50px 20px 0 20px;
}

@media (min-width: 768px) {
    .container-main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-main {
        width: 500px;
    }
}