@import 'variables.scss';

:root {
    html body {
        font-family: "Lexend Deca", sans-serif;
        margin: 0;
        padding: 0;
    }

    * {
        font-family: "Lexend Deca", sans-serif; 
    }
}


// CUSTOM BUTTON

.p-button {
    background: var(--color-primary) !important;
    border: 1px solid var(--color-primary) !important;

}