:root {
    --color-cream: #FFFBF5;
    --color-bege: #F7EFE5;
    --color-lavanda: #C3ACD0;
    --color-purple-violet: #7743DB;


    --color-primary: #5F33E1;
    --color-secondary: #EDE8FF;
    --color-pink-danger: #F478B8;
    --color-warning: #FF9142;

    --bg-nav-bar: #EEE9FF;
}